/* CSS styles for your webpage */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --secondary-bg-txt-color: #1F2937;
    --bg-text-color: #E5E7EB;
    --primary-text-color: #F9FAF8;
    --btn-color: #3882f6;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}
header {
    background-color: var(--secondary-bg-txt-color);
    padding: 10px;
    padding: 20px 50px;
    margin-bottom: 30px;
}

header .logo_nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}


header .logo {
    height: 40px;
    width: 40px;
    display: flex;
    font-size: 14px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
}
.logo img{
  width: 10px;
  height: 10px;
}

nav ul {
    display: flex;
    gap: 20px;

}

nav ul li a {
    font-size: 18px;
    color: var(--bg-text-color);
    text-decoration: none;
    position: relative;
}


nav ul li ::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    top: 25px;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
    transition: all .3s;
}

nav ul li a:hover::after {
    width: 100%;

}

nav ul li {

    list-style: none;

}

.description_image {
    display: flex;
    justify-content: space-evenly;
}

.description_btn {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.description_btn h1 {
    font-size: 48px;
    letter-spacing: 10px;
    color: var(--primary-text-color);
    margin-bottom: 20px;
}

.description_btn p {
    font-size: 18px;
    line-height: 30px;
    color: var(--bg-text-color);
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.btn {
    max-width: 150px;
    height: 40px;
    background-color: var(--btn-color);
    color: var(--primary-text-color);
    font-size: 18px;
    font-weight: bolder;
    border: var(--primary-text-color) solid;
    border-radius: 10px;
    transition: all .1s;

}

.btn:hover {
    cursor: pointer;
    transform: scaleX(1.02);
    background-color: var(--secondary-bg-txt-color);

}

.description_image .image img {
    border: #E5E7EB solid 5px;
    border-radius: 50px;
}

.images_informations {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}

.images_informations .information {
    font-size: 1.3rem;
    margin-bottom: 40px;
}

.images_informations .panels {
    display: flex;
    justify-content: space-evenly;
}

.images_informations img {
    height: 200px;
    width: 200px;
    border: var(--btn-color) solid 4px;
    border-radius: 20px;
}

.images_informations .images {
    margin-bottom: 7px;
}

.images_informations .text {

    text-align: center;
}

.quotes {

    background-color: var(--bg-text-color);
    color: #1F2937;
    height: 300px;
    font-size: 36px;
    text-align: center;
    display: grid;
    place-items: center;
    padding: 50px 20px;
}

.action_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.action_btn_container {
    margin: 20px 50px;
    color: var(--primary-text-color);
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    border-radius: 10px;
    gap: 50px;
    background-color: var(--btn-color);
}

.action_desc .main_text {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 5px;
}

.action_btn p {
    letter-spacing: 0.2px;
}

.action_btn .btn {
    width: 150px;
}

footer {
    color: var(--primary-text-color);
    background-color: var(--secondary-bg-txt-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
}
@media screen and (max-widht: 700px) {
  
    .description_image{
        flex-direction: column;
        gap: 20px;
    }
    .image {
        margin-top: 20px;
       
    }
    .image img {
        width: 200px;
        height: auto;
    }
    
}
@media screen and (max-width: 480px) {
   .header {
    padding: 20px 80px;
   }
   
    .logo_nav{
        align-items: center;
        flex-direction: column; 
        gap: 20px;
   }
    .description_image{
        flex-direction: column;
    }
    .image {
        margin-top: 20px;
        padding: 20px;
    }
    .image img{
      width: 300px;
    }
    .panels {
        flex-direction: column;
        gap: 10px;
    }
    .quotes {
        font-size: 1.5rem;
        margin-top: 20px;
    }
    .action_btn_container {
        flex-direction: column;
        gap: 30px;
    }
    .main_text {
        margin-bottom: 8px;
    }
  }
@media  screen and (max-width: 300px) {
    .image img {
        width: 200px;
        margin-right: 20px;
        }
}